@charset "utf-8";

$serif: Palatino, Merriweather, serif;
$sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Yu Gothic", Meiryo, sans-serif;
$monospace: "Ubuntu Mono", "DejaVu Sans Mono", Menlo, Consolas, monospace;

$main-font-family: $serif;
$heading-font-family: $serif;

$background-color: #fff;
$main-color: #444;
$heading-color: $main-color;

html {
  font-size: 160%;
}

body {
  color: $main-color;
  font-family: $main-font-family;
}

pre,
code,
kbd {
  font-family: $monospace;
}

a {
  color: #0042ab;
  text-decoration: none;
}

.remark-slide-scaler {
  overflow-y: scroll;
}

.remark-slide-content {
  background-color: $background-color;
  font-size: inherit;
  padding: 0 1.8rem;

  h1,
  h2,
  h3 {
    font-family: $heading-font-family;
    font-weight: bold;
  }

  h1 {
    font-size: 1.4rem;
    margin: 3rem 0;
  }

  h2 {
    font-size: 1.4rem;
    margin: 1.5rem 0;
  }

  h3 {
    font-size: 1.2rem;
  }

  dt {
    font-weight: bold;
  }
}

@import "class";
