<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/remark-theme.css">
<title>{{ .Title }}</title>
{{ partial "mathjax.html" . }}
</head>
<body>
<textarea id="source">
{{ .RawContent }}
</textarea>
<script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>
<script>
var slideshow = remark.create({
  ratio: '4:3',
  navigation: {
    scroll: false,
    touch: true,
    click: false
  },
  slideNumberFormat: function (current, total) {
    // hide in title slide; start from 1
    if (current > 1) {
      return (current - 1) + '/' + (total - 1);
    } else {
      return '';
    };
  },
  countIncrementalSlides: false,
  highlightLanguage: "no-highlight"
});
</script>
</body>
</html>
