html {
  font-size: 160%;
}

body {
  color: #444;
  font-family: Palatino, Merriweather, serif;
}

pre,
code,
kbd {
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", Menlo, Consolas, monospace;
}

a {
  color: #0042ab;
  text-decoration: none;
}

.remark-slide-scaler {
  overflow-y: scroll;
}

.remark-slide-content {
  background-color: #fff;
  font-size: inherit;
  padding: 0 1.8rem;
}

.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3 {
  font-family: Palatino, Merriweather, serif;
  font-weight: bold;
}

.remark-slide-content h1 {
  font-size: 1.4rem;
  margin: 3rem 0;
}

.remark-slide-content h2 {
  font-size: 1.4rem;
  margin: 1.5rem 0;
}

.remark-slide-content h3 {
  font-size: 1.2rem;
}

.remark-slide-content dt {
  font-weight: bold;
}

.author {
  font-weight: bold;
  font-size: 1.1rem;
}

.affiliation {
  font-size: 1.1rem;
}

.footnote {
  position: absolute;
  bottom: 12px;
}

.cite {
  color: #777;
  font-size: 0.75rem;
  text-align: right;
}

.column-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.column {
  flex: 1 1 100%;
  margin: 0 0.5rem;
}

.column:first-child {
  margin-left: 0;
}

.column:last-child {
  margin-right: 0;
}

.title-background-gif {
  position: relative;
  z-index: 42;
}

.title-background-gif::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url("/figures/title-background.gif");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
  opacity: 0.37;
}
